@{
    ViewData["Title"] = "About";
}

<h1><strong>Grupo: </strong> @ViewData["Grupo"]</h1>
<h2>@ViewData["Message"]</h2>




<address>
    <strong>Mais informações: </strong> <a href="https://publicitariopobre.files.wordpress.com/2013/03/pegadinha.jpg">sapoboi-lavarapido.com.br</a>
</address>

